@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}


.left {
    width: 25vw;
    padding: 12px;
    font-weight: 700;
}

.right {
    width: 75vw;
    position: relative;
}

.left .cancel {
    display: none;
}

.home ul li {
    display: flex;
    gap: 15px;
    margin: 20px 0px;
    width: 20px;
    height: 20px;
    list-style: none;
    cursor: pointer;
}


.home ul li img {
    width: 30px;
}

.library {
    min-height: 66vh;
    position: relative;
}

.lib_head img {
    width: 26px;
}

.lib_head {
    gap: 18px;
    display: flex;
    align-items: center;
    font-size: 11px;
    cursor: pointer;
    padding: 0px 0px 10px 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    font-size: 13px;
    font-weight: 400;
    padding: 9px 15px 10px 0px;
}

.ftr-links {
    display: flex;
    gap: 13px 23px;
    flex-wrap: wrap;
    font-size: 12px;
    margin-bottom: 13px;
}

.footer a {
    color: #a7a7a7;
    text-decoration: none;
}

.footer button {
    display: flex;
    align-items: center;
    border-radius: 32px;
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: 8px 24px;
    margin: 3vh 2px 1vh 0px;
    cursor: pointer;
}

.right {
    margin: 16px 0px;
    max-height: 90vh;
    overflow-y: scroll;
    /* overflow-x: hidden; */
}

.header {
    padding: 6px 38px 9px 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a0a;
}

.header .nav img {
    cursor: pointer;
}

.humburger {
    display: none;
}


.header button {
    font-weight: 500;
    font-size: 16px;
    width: 115px;
    height: 50px;
    border: 1px solid black;
    border-radius: 41px;
    cursor: pointer;
    gap: 2px;
}

.header .signup-btn {
    background-color: black;
    color: #a7a7a7;
}

.signup-btn:hover {
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.login-btn:hover {
    font-weight: 600;
    font-size: 17px;
    width: 116px;
    height: 51px;
}

.playlist {
    padding: 16px;
}

.playlist h1 {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.cardContainer {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    /* max-height: 75vh;
    overflow-y: scroll; */
}

.card {
    position: relative;
    width: 190px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 400;
    padding: 12px;
    cursor: pointer;
}

.cardContainer :hover {
    background-color: #1a1a1a;
}

.cardContainer :hover {
    .playBtn {
        opacity: 1;
        bottom: 90px;
    }
}

.card>* {
    padding-top: 4px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card h2 {
    font-size: 16px;
    font-weight: 500;
}

.card p {
    color: #a7a7a7;
}

.playBtn {
    width: 42px;
    position: absolute;
    bottom: 59px;
    right: 23px;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.playbar {
    position: fixed;
    bottom: 4px;
    background-color: #2a2b2a;
    width: 72vw;
    min-height: 37px;
    padding: 8px;
    border-radius: 10px;
}

.songs-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.songs-buttons img {
    width: 30px;
    cursor: pointer;
}

.songsList {
    height: 36vh;
    overflow: auto;
}

.songsList ul {
    padding: 0px 0px 30px 0px;
}

.songsList ul li {
    list-style-type: decimal;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 10px 0px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 8px;
    padding: 13px;
    margin: 12px 0px;
}

.songInfo {
    display: flex;
    gap: 14px;
    width: 150px;
}

.songInfo div {
    word-break: break-all;
}

.playNow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playNow span {
    font-size: 10px;
    font-weight: 500;
    padding: 10px;
}

.seekbar {
    height: 1.7px;
    width: 72.7vw;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    left: 0;
    cursor: pointer;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    bottom: -4px;
    left: 0%;
    transition: left 0.3s;
    cursor: pointer;
}

.aboveSeekbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.volume{
    display: flex;
    align-items: center;
    gap: 12px;
}

.volume img, .volume input {
    cursor: pointer;
}


/* -------------------------------------------------------------- */

@media (max-width: 980px) {
    .left {
        width: 370px;
        position: absolute;
        left: -200%;
        transition: all .3s;
        z-index: 1;
    }

    .left .cancel {
        display: block;
        position: absolute;
        right: 51px;
        top: 46px;
        width: 29px;
    }

    .nav {
        display: flex;
        gap: 5px;
    }

    .humburger {
        display: block;
    }



    .right {
        width: 100vw;
    }

    .playbar {
        width: 97vw;
    }

    .seekbar {
        width: 99vw;
    }
}

@media (max-width: 370px) {
    .left {
        width: 300px;
    }

    .right {
        margin: 0;
    }

    .playlist {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .cardContainer {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .playbar {
        width: 93vw;
    }

    .aboveSeekbar {
        flex-direction: column;
        gap: 4px;
    }

    .timeVol{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}