
#Firstdiv{
    background-color: green;
}

.red{
    color: red;
}
.bg-orange{
    background-color: orange;
}

.pink{
    color: pink;
}
.bg-purple{
    background-color: purple;
}

/*    . => class  */
/*    # => ID     */